*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body,
html {
	font-size: 16px;
	color: #666;
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,li {
	list-style: none;
}
input,button {
	outline: none;
	border: none;
}
h1,h4 {
	width: 100%;
}
.subtitle {
	padding-left: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 10px;
}
.btn-normal {
	text-align: center;
	background-color: #7e67ff;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 15px;
}
.btn-close {
	flex: 1;
}
/* .section  .container{
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
} */
ol li {
	list-style: decimal inside;
	margin-top: 10px;
}
.them-color {
	color: #7e67ff;
}
.them-red {
	color: #ff6771;
}
.title {
	background-image: linear-gradient(#7e67ff, #7e67ff);
	background-size: 30% 30%;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 10px 0px;
	color: #444;
}
img{
	width: 100%;
}