/* header */
header {}

.logo {
	font-weight: 800;
	font-size: 30px;
	color: #000;
}

.hub {
	width: 30px;
	height: 20px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin-left: auto;
	cursor: pointer;

}

.hub div {
	width: 100%;
	height: 3px;
	background-color: #7e67ff;

}

nav {
	display: flex;
	padding: 10px 0px;
	align-items: center;
}

/* header end */
/* main */
main {
	padding-top: 20px;
}

.words {
	width: 100%;
	resize: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	outline: none;
	font-family: '';
	font-size: 16px;
	border: 1px solid #666666;
	margin-top: 15px;
}

.words:focus {
	border: 1px solid #7E67FF;
}

.tip {
	margin: 15px 0px;
}

.add_dictation {
	background-color: #7e67ff;
	padding: 10px;
	margin: 0px auto;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.word-content {
	display: flex;
	flex-flow: row wrap;
	margin-top: 30px;

}

.word {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #7e67ff;
	border-radius: 4px;
	padding: 10px;
	color: #fff;
	text-transform: capitalize;
	flex: 1;
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}

.word-box ion-icon {
	cursor: pointer;
	margin-top: 2px;
	padding: 3px;
}

.word-box ion-icon:hover {
	background-color: rgba(255, 62, 65, 0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}

.start {
	text-align: center;
	background-color: #7e67ff;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dictation-box {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #444;
	z-index: 10;
	left: 0;
	top: 0;
	text-align: center;
	display: none;
}

.dictation-word {
	font-size: 60px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dictation-box ion-icon {
	cursor: pointer;
	margin-top: 10px;
	margin-left: 20px;
}
.dictation-translate {
	font-size: 30px;
	font-weight: 800;
}
.dictation-box .text {
	filter: blur(10px);
}
.dictation-next {
	margin-top: 30px;
}
.dictation-box .card {
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	height: 400px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

/* main end */
/* tool */
.tool {
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	transition: all .5s ease;
}

.tool-show {
	top: 0;
}

.dialog-text {
	background-color: #cccccc;
	padding: 10px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 100%;
}

.dialog-erro {
	background-color: #cc3335;
	color: #fff;
}

.dialog-success {
	background-color: #20cc71;
	color: #fff;
}

/* tool end */
