/* 样式查询 */
@media only screen and (max-width:480px) {
		.dialog-text {
			width: 90%;
		}
	}
	@media only screen and (min-width:480px) {
		
	}

	@media only screen and (min-width:768px) {
	 
	}

	@media only screen and (min-width:1330px) {}
